fastapi==0.115.0
uvicorn==0.34.0
python-multipart==0.0.20
pymongo==4.10.0
pdf2image==1.17.0
Pillow==11.0.0
pandas==2.2.0
numpy==1.26.0
scikit-learn==1.5.0
python-dotenv==1.0.0
pydantic==2.10.0
PyJWT==2.11.0
slowapi==0.1.9
python-jose==3.5.0
google-cloud-vision==3.11.0
httpx==0.28.1
torch==2.1.0+cpu
torchvision==0.16.0+cpu
easyocr==1.7.2
email-validator
